.chars {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }
.char{
      height: 400px;
      width: 300px;
      margin: 40px 20px;
      padding: 30px;
      border: dashed 1.5px;
      border-color: #dde0e0;
      -webkit-transition: background-color 0.25s ease-out;
      -moz-transition: background-color 0.25s ease-out;
      -o-transition: background-color 0.25s ease-out;
      transition: background-color 0.25s ease-out;
}

.char:hover{
  background-color: #212749;
}

.char p{
  font-size: 13px;
  margin-block-start: 10px;
  line-height: 25px;
  letter-spacing: 0.5px;
  color: #dde0e0;
}

.char h3{
  margin-block-start: 20px;
  font-weight: bold;
  text-align: left;
  color: #65c1d0;
}
.char img{
      height: 120px;
      width: 120px;
      border-radius: 5px;
  }

.riv-chars {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.char-ell img{
    height: 200px;
    width: 200px;
    border-radius:100%;
    margin-block-start: 10px;
    padding: 30px;
  }

.char-ell img:hover{
  transform: scale(1.1);
  transition: 0.25s;
}

.char-ell h3{
  display: flex;
  justify-content: center;
  color: #65c1d0;
}
#vm{
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin-block-start: 30px;
  margin-block-end: 50px;
}