@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://db.onlinewebfonts.com/c/c7a23d4c15aff59e722ac29d8f69246e?family=Colossalis+BQ");

.chars {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }
  @media screen and (max-width:800px) {
    .chars{
      flex-direction: column;
    }
  }
.char{
      height: 400px;
      width: 300px;
      margin: 40px 20px;
      padding: 30px;
      border: dashed 1.5px;
      border-color: #dde0e0;
      -webkit-transition: background-color 0.25s ease-out;
      -moz-transition: background-color 0.25s ease-out;
      -o-transition: background-color 0.25s ease-out;
      transition: background-color 0.25s ease-out;
}

@media screen and (max-width:800px) {
  .char{
    height: 15rem;
    font-size: 0.75rem;
  }
}

.char:hover{
  background-color: #212749;
}

.char p{
  font-size: 13px;
  margin-block-start: 10px;
  line-height: 25px;
  letter-spacing: 0.5px;
  color: #dde0e0;
}
@media screen and (max-width:800px) {
  .char p{
    font-size: 0.75rem;
  }
}

.char h3{
  margin-block-start: 20px;
  font-weight: bold;
  text-align: left;
  color: #65c1d0;
}
.char img{
      height: 120px;
      width: 120px;
      border-radius: 5px;
  }

@media screen and (max-width:800px) {
  .char img{
    height: 80px;
    width: 80px;
  }
}

.riv-chars {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width:800px) {
  .riv-chars{
   flex-direction: column;
  }
}
.char-ell img{
    height: 200px;
    width: 200px;
    border-radius:100%;
    margin-block-start: 10px;
    padding: 30px;
  }

@media screen and (max-width:800px) {
  .char-ell img{
    height: 80px;
    width: 80px;
  }
}

.char-ell img:hover{
  transform: scale(1.1);
  transition: 0.25s;
}

.char-ell h3{
  display: flex;
  justify-content: center;
  color: #65c1d0;
}
#vm{
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin-block-start: 30px;
  margin-block-end: 50px;
}