@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.img{
    padding-left: 100px;
    margin-block-start: 2rem;
}
@media screen and (max-width:800px) {
    .img{
  padding: 10px;
    }
}
.content{
    color: #bedbdb;
    width: 35em;
    padding: 10em 7em;
    display: inline-block;
    line-height: 27px;
}
@media screen and (max-width:800px) {
    .content{
        font-size: 0.5rem;
        padding: 40px;
    }
}
