input {
    width: 800px;
    height: 50px;
    background: #fbfdfd;
    outline: none;
    border: none;
    margin-block-start: 70px;
    margin-left: 30px;
}
#cart{
    margin-left: 30px;
    float: right;
    padding-top: 80px;
    margin-inline-end: 100px;
}
#cart:hover{
    cursor: pointer;
}
.cats {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
  }
.cat{
      width: 200px;
      margin-block-start: 40px;
      padding: 20px;
      border: dashed 1.5px;
      border-color: #dde0e0;
      -webkit-transition: background-color 0.25s ease-out;
      -moz-transition: background-color 0.25s ease-out;
      -o-transition: background-color 0.25s ease-out;
      transition: background-color 0.25s ease-out;
}
.cat:hover{
    cursor: pointer;
}

#fill{
    background-color: #65C1D0;
    width: 200px;
    margin-block-start: 40px;
    padding: 20px;
}

.cat:hover{
  background-color: #212749;
}

.cat h3{
  text-align: center;
  color: #65c1d0;
}
.shop-imgs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
.imgs img{
      height: 240px;
      width: 240px;
      margin-block-start:40px;
}
#va{
    padding:30px;
    margin-right: 30px;
}
