* {
    padding: 0;
    margin: 0;
    font-family: "rubik", Segoe UI , Tahoma, Geneva, Verdana, sans-serif;
    /* color: white; */
}
  
  body {
    background-color: #101131;
  }
  
  .navbar {
    display: flex;
    justify-content:flex-end;
    width: auto;
    background-color: #173254;
    padding:2.5rem 7rem;
}

.navbar .nav-item{
    text-decoration: none;
    color: #C0E8EF;
    padding-left: 50px;
    font-size: 18px;
}


.navbar .nav-item:hover {
    color: #71b6c5;
  }

a{
  font-size: 15px;
}
h1{
  font-family: "Colossalis BQ";
  letter-spacing: 0.1em;
  padding-top: 60px;
  padding-left: 30px;
  color: #65c1d0;
  font-weight: normal;
}
.rm{
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
.rm p{
  color: #dde0e0;
  font-size: 17px;
}
.rm p:hover {
  color: #71b6c5;
}
